archive_3d_models.log
archive_3d_models_end_GUI.py
archive_3d_models_main_GUI.py
archive_3d_models_settings_GUI.py
.idea/
__pycache__/
.directory
metadata.json
archive_3d_models.png
archive_3d_models_dark.png
archive_3d_models_light.png
Archive3DModels-1.0.0-pcm.zip
/metadata_package.json
/Fresh_test_project/Fresh_test_project-backups
/*.zip
error_dialog_GUI.py
